<div class="w-11/12 mx-auto py-8">
  <div class="flex flex-col gap-6 text-center">
    <h1 class="text-4xl font-bold ">Custom Budget</h1>
    <p>
      Your project is unique, and your quote should be too. Use this section to request a
      tailored valuation where we focus strictly on the functionalities that drive value
      for your brand. By defining the scope and goals together, we ensure a streamlined
      development process and a budget that fits your stage of growth perfectly.
    </p>
  </div>
  <!-- ServicesList -->
  <div class="flex flex-wrap justify-center">
    @for (service of servicesList; track service.id) {
      <app-service-card
        [service]="service"
        (onUpdateService)="updateServiceOptions($event)"
      />
    }
  </div>
  <p class="text-center text-3xl outline-1 rounded-default w-fit p-4 mx-auto">Total price: <strong>{{ totalPrice() }} €</strong></p>
</div>
<app-budget-request-form
  (onBudgetRequest)="saveBudget($event)" )
/>
