/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeng";

@theme {
  /* Colores Personalizados */
  --color-primary: #3b82f6;
  --color-secondary: #06b6d4;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-text-light: #1e293b;
  --color-text-dark: #f8fafc;
  --color-card-dark: #1e293b;
  --color-card-light: #ffffff;

  /* Tipografías */
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Bordes */
  --radius-default: 0.5rem;
}

